@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transiciones suaves para el header */
header {
    transition: background-color 0.3s ease, color 0.3s ease, height 0.3s ease;
}

header nav ul {
    transition: color 0.3s ease;
}

#hamburgerBtn 
{
    transition: all 0.3s ease;
}

/* Estilos cuando se hace scroll */
header.scrolled {
    background: #102032 !important;
    color: white !important;
    height: 48px !important;
    top: -1px !important;

}

header nav ul.scrolled {
    color: white !important;
    font-weight: 300;
}

header span img:first-child.scrolled {
    filter: brightness(5) hue-rotate(45deg) !important;
}

header span img:last-child.scrolled {
    filter: brightness(5) sepia(1) grayscale(1) !important;
}

.text-short, .text-extended {
    transition: opacity 0.3s ease-in-out;
}


@media (max-width: 767px) {
    header nav ul.scrolled
    {
        background: #102032;
        height: calc(100vh - 48px);
    }

    #hamburgerBtn.scrolled 
    {
        top: 7px;
    }
}





/* Estilos personalizados para el formulario de login inspirado en el diseño Orion */
        .login-container {
            background: linear-gradient(to bottom, #00a5502e, #000000);
        }
        
        .form-input:focus {
            outline: none;
            ring: 2px;
            ring-color: #f59e0b;
        }
        
        .login-btn {
            background: linear-gradient(90deg, #f59e0b 0%, #d97706 100%);
            transition: all 0.3s ease;
        }
        
        .login-btn:hover {
            background: linear-gradient(90deg, #d97706 0%, #b45309 100%);
            transform: translateY(-1px);
        }